*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #001122;
    min-height: 100vh;
    font-family: 'Tajawal';
}

.container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 1px;
    height: 100px;
    background: #ebeef2;
    margin: 0 10px;
    border-radius: 30%;
    box-shadow: 0 0 0 1px  #ebeef244,
    0 0 80px #ebeef2,
    0 0 10px #ebeef2;
    animation: animate 15s linear infinite;
    animation-duration: calc(100s / var(--i));
}

@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}

img {
    position: absolute;
    float: right;
    width: 300px;
    height: 80px;
    margin: 40px;
    margin-right: 30px;
    margin-top: 30px;
}

button {
    position: absolute;
    padding: 10px;
    background-color: #434c4d;
    border: none;
    float: right;
    margin-top: 550px;
    margin-right: 340px;
    height: 50px;
    width: 90px;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
}

.paragraph {
    font-family: 'Tajawal';
    position: absolute;
    font-size: 40px;
    text-align: center;
    margin-top: 230px;
    margin-right: 40px;
    color: rgba(255, 255, 255);
    border-radius: 10px;
    word-break: break-word;
    max-width: 700px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
}

#mainlogo {
    margin-right: 900px;
    margin-top: 170px;
    height: 400px;
    width: 400px;
}