*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #001122;
    min-height: 100vh;
    font-family: 'Tajawal';
    display: flex;
    justify-items: center;
    justify-content: center;
    min-height: 100vh
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
img {
    position: absolute;
    width: 300px;
    height: 80px;
    margin: 40px;
    margin-left: 1000px;
    margin-bottom: 650px;
}

.bubbles {
    position: absolute;
    display: flex;
    right:0;
}

.bubbles span {
    position: relative;
    width: 1px;
    height: 100px;
    background-color: #ebeef2;
    margin: 0 20px;
    border-radius: 30%;
    box-shadow: 0 0 0 1px  #ebeef244,
    0 0 80px #ebeef2,
    0 0 10px #ebeef2;
    background: linear-gradient(to right, #e3e1e1, #c9c7c7, #fff);
    animation: animate 15s linear infinite;
    animation-duration: calc(100s / var(--i));
}

@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}
.bubbless {
    position: absolute;
    display: flex;
    left:0;
}

.bubbless span {
    position: relative;
    width: 1px;
    height: 100px;
    background-color: #ebeef2;
    margin: 0 20px;
    border-radius: 30%;
    box-shadow: 0 0 0 1px  #ebeef244,
    0 0 80px #ebeef2,
    0 0 10px #ebeef2;
    background: linear-gradient(to right, #e3e1e1, #c9c7c7, #fff);
    animation: animate 15s linear infinite;
    animation-duration: calc(100s / var(--i));
}

@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}
.card {
    position: relative;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    width: 800px;
    height: 500px;
}

body,
    input {
        font-size: 16px;
        line-height: 24px;
        color: #353740;
        text-align: right;
        font-family: 'Tajawal';
        font-size: 22px;
      }

      main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 850px;
        gap: 50px;
        margin: 50px auto;
        position: relative;
        border-radius: 20px;
        color: #fff;
      }

      section {
        display: flex;
        flex-direction: column;
      }

      h3 {
        font-size: 32px;
        line-height: 32px;
        margin: 0;
        margin-right: 320px;
        color: #fff;
        font-weight: bold;
        margin-top: 45px;
        margin-bottom: 20px;
      }

      p {
        color: #fff;
        margin-right: 40px;
        }

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
      }

      input[type="text"] {
        padding: 18px 16px;
        border: 1px solid #ebeef2;
        border-radius: 10px;
        margin-right: 45px;
        margin-bottom: 10px;
        width: 700px;
        margin-top: 20px;
        background-color: rgba(255, 255, 255, 0.1);
      }

      ::placeholder {
        color: #abadb3;
        opacity: 1;
      }

      input[type="submit"] {
        padding: 18px 0;
        color: #001122;
        border: none;
        border-radius: 10px;
        margin-right: 45px;
        text-align: center;
        cursor: pointer;
        width: 700px;
        background-color: #fff;
      }

      .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .result {
        font-weight: bold;
        margin-right: 45px;
        margin-top: 10px;
        height: 50px;
        width: 700px;
        background-color: #74767d;
        border-radius: 14px;
        padding: 14px;
        display: none;
      }

      .dot-pulse {
        position: relative;
        left: -9999px;
        width: 10px;
        margin: 30px auto;
        display: none;
        height: 10px;
        border-radius: 5px;
        background-color: #74767d;
        color: #74767d;
        box-shadow: 9999px 0 0 -5px;
        animation: dot-pulse 0.6s infinite linear;
        animation-delay: 0.1s;
      }

      .dot-pulse::before,
      .dot-pulse::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #74767d;
        color: #74767d;
      }

      .dot-pulse::before {
        box-shadow: 9984px 0 0 -5px;
        animation: dot-pulse-before 0.6s infinite linear;
        animation-delay: 0s;
      }

      .dot-pulse::after {
        box-shadow: 10014px 0 0 -5px;
        animation: dot-pulse-after 0.6s infinite linear;
        animation-delay: 0.2s;
      }

      @keyframes dot-pulse-before {
        0% {
          box-shadow: 9984px 0 0 -5px;
        }
        30% {
          box-shadow: 9984px 0 0 2px;
        }
        60%,
        100% {
          box-shadow: 9984px 0 0 -5px;
        }
      }
      @keyframes dot-pulse {
        0% {
          box-shadow: 9999px 0 0 -5px;
        }
        30% {
          box-shadow: 9999px 0 0 2px;
        }
        60%,
        100% {
          box-shadow: 9999px 0 0 -5px;
        }
      }
      @keyframes dot-pulse-after {
        0% {
          box-shadow: 10014px 0 0 -5px;
        }
        30% {
          box-shadow: 10014px 0 0 2px;
        }
        60%,
        100% {
          box-shadow: 10014px 0 0 -5px;
        }
      }