      html {
        height: 100%;
      }
      body {
        background-color: rgb(18, 126, 129);
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 50px 0;


        display: flex;
        justify-items: center;
        min-height: 100vh
      }
      .card {
        border-radius: 20px;
        background: #000080;
      }
      body,
      input {
        font-size: 16px;
        line-height: 24px;
        color: #353740;
        text-align: right;
        font-family: 'Tajawal';font-size: 22px;
      }
      main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 850px;
        gap: 50px;
        margin: 50px auto;
        position: relative;
        background-color: rgb(18, 126, 129);
        border-radius: 20px;
        color: #fff;
      }
      section {
        display: flex;
        flex-direction: column;
      }
      h3 {
        font-size: 32px;
        line-height: 32px;
        margin: 0;
        font-weight: bold;
        color: #202123;
      }
      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
      }
      input[type="text"] {
        padding: 12px 16px;
        border: 2px solid #40a2a4;
        border-radius: 10px;
        margin-bottom: 24px;
        background-color: #40a2a4;
      }
      ::placeholder {
        color: #8e8ea0;
        opacity: 1;
      }
      input[type="submit"] {
        padding: 12px 0;
        color: #fff;
        border: none;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        background-color: #fcb513;
        margin-top: 10px;

      }
      .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .label {
        display: inline-flex;
        align-items: center;
        gap: 9px;
        color: #02cc9d;
        font-size: 14px;
        padding: 4px 18px;
        background: #e0fff1;
        border-radius: 28px;
      }
      .logo {
        width: 280px;
      }
      .result {
        font-weight: bold;
        margin-top: 30px;
        background: #f1f1f1;
        border-radius: 14px;
        padding: 14px;
        display: none;
      }

      .dot-pulse {
        position: relative;
        left: -9999px;
        width: 10px;
        margin: 30px auto;
        display: none;
        height: 10px;
        border-radius: 5px;
        background-color: #0fa37f;
        color: #0fa37f;
        box-shadow: 9999px 0 0 -5px;
        animation: dot-pulse 0.6s infinite linear;
        animation-delay: 0.1s;
      }
      .dot-pulse::before,
      .dot-pulse::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #0fa37f;
        color: #0fa37f;
      }
      .dot-pulse::before {
        box-shadow: 9984px 0 0 -5px;
        animation: dot-pulse-before 0.6s infinite linear;
        animation-delay: 0s;
      }
      .dot-pulse::after {
        box-shadow: 10014px 0 0 -5px;
        animation: dot-pulse-after 0.6s infinite linear;
        animation-delay: 0.2s;
      }

      @keyframes dot-pulse-before {
        0% {
          box-shadow: 9984px 0 0 -5px;
        }
        30% {
          box-shadow: 9984px 0 0 2px;
        }
        60%,
        100% {
          box-shadow: 9984px 0 0 -5px;
        }
      }
      @keyframes dot-pulse {
        0% {
          box-shadow: 9999px 0 0 -5px;
        }
        30% {
          box-shadow: 9999px 0 0 2px;
        }
        60%,
        100% {
          box-shadow: 9999px 0 0 -5px;
        }
      }
      @keyframes dot-pulse-after {
        0% {
          box-shadow: 10014px 0 0 -5px;
        }
        30% {
          box-shadow: 10014px 0 0 2px;
        }
        60%,
        100% {
          box-shadow: 10014px 0 0 -5px;
        }
      }